<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <title th:text="${title}">My Spring Boot App</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="#" th:href="@{/fonts/style.css}">

    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/owl.theme.default.min.css}">


    <link rel="stylesheet" href="#" th:href="@{/css/aos.css}">

    <link rel="stylesheet" href="#" th:href="@{/css/style.css}">


</head>
<body>
<div class="site-wrap">
    <div th:insert="(~{admin/components:: header})">This is my header</div>



        <div class="container">
            <div class="row">


                <div class="mt-3 col-md-12">
                    <table class="table table-striped bg-light">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">user Id</th>
                            <th scope="col">Address</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c:${OrderList}">

                            <td th:text="${c.id}">id</td>
                            <td class="dropdown-container">
                                <button class="dropdown-button">Product List</button>

                                <div class="dropdown-content" th:each="p:${c.products}">
                                    <p th:text="${p.productName}"></p>
                                </div>
                            </td>
                            <td th:text="${c.price}">Price</td>
                            <td th:text="${c.user.id}">Price</td>
                            <td th:text="${c.billingAddress.city}">Price</td>

                        </tr>

                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>


<script src="#" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="#" th:src="@{/js/jquery-ui.js}"></script>
<script src="#" th:src="@{/js/popper.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="#" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script src="#" th:src="@{/js/aos.js}"></script>

<script src="#" th:src="@{/js/main.js}"></script>

</body>
</html>