<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <title th:text="${title}">My Spring Boot App</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="#" th:href="@{/fonts/style.css}">

    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/owl.theme.default.min.css}">


    <link rel="stylesheet" href="#" th:href="@{/css/aos.css}">

    <link rel="stylesheet" href="#" th:href="@{/css/style.css}">

</head>
<body>
<div class="site-wrap">
    <div th:insert="(~{user/base:: header})">This is my header</div>



    <div class="site-blocks-cover inner-page" data-aos="fade">
        <div class="container">
            <div class="row">
                <h1>Welcome to User Page! </h1>

                <div class="product-thumbnail">
                    <img src="#" th:src="@{'/images/'+${user.imageUrl}}" alt="Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


    <footer th:insert="(~{user/base:: footer})">This is my footer</footer>


</div>


<script src="#" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script src="#" th:src="@{/js/jquery-ui.js}"></script>
<script src="#" th:src="@{/js/popper.min.js}"></script>
<script src="#" th:src="@{/js/bootstrap.min.js}"></script>
<script src="#" th:src="@{/js/owl.carousel.min.js}"></script>
<script src="#" th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script src="#" th:src="@{/js/aos.js}"></script>

<script src="#" th:src="@{/js/main.js}"></script>

</body>
</html>